/*
Error: Invalid CSS after "color: ": expected expression (e.g. 1px, bold), was "##28df35;"
        on line 87 of /src/./scss/style.scss

82: .view-gallery-block img:hover {
83: border-color: #ddd;
84: } 
85: 
86: .view-gallery-block a {
87: color: ##28df35;
88: text-decoration: none;
89: } 
90: 
91: .view-gallery-block p {
92: margin: 0 0 10px;

Backtrace:
/src/./scss/style.scss:87
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1167:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/script/lexer.rb:221:in `expected!'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/script/parser.rb:573:in `assert_expr'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/script/parser.rb:62:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1027:in `sass_script'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:880:in `value!'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:753:in `block in try_declaration'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1141:in `call'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1141:in `rethrow'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:766:in `try_declaration'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:650:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:636:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `block in watch'
/var/lib/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:291:in `call'
/var/lib/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
/var/lib/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/var/lib/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
/var/lib/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/var/lib/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"color: \": expected expression (e.g. 1px, bold), was \"##28df35;\"\A         on line 87 of /src/./scss/style.scss\A \A 82: .view-gallery-block img:hover {\A 83: border-color: #ddd;\A 84: } \A 85: \A 86: .view-gallery-block a {\A 87: color: ##28df35;\A 88: text-decoration: none;\A 89: } \A 90: \A 91: .view-gallery-block p {\A 92: margin: 0 0 10px;"; }
